body{
    padding: 6px;
}

*{
    font-family: 'Courier New', Courier, monospace;

}

.time-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 24px;
    justify-content: space-between;
    
}

input{
    font-size: 1.5em;
}

button{
    background: #4ECD77;
    color:white;
    margin-top: 32px;
    font-size: 1.4em;
    width: 80px;
    border: none;
    padding: 4px;
}

.center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#url{
    font-size: 1em;

}
p{
    font-size: 1.2em;
}